/*
body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
*/

ul {
  padding-left: 1.25em;
}

h2 a {
  color: #000;
}
h2 a:hover {
  color: #000;
}

#calc .pd-icon {
  margin-bottom: 1em;
  margin-right: 1.5em;
}
#calc a {
  color: rgb(43, 134, 162);
  padding: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#calc a:hover {
  background-color: rgb(43, 134, 162);
  color: #fff;

  transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
}
#calc .year-input input, #calc .year-input button {
  font-size: 1.5em;
  font-weight: bold;
}
#calc .year-input small {
  margin-top: -2em
}
