/*
body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
*/

.pd-icon {
  margin-bottom: 1em;
  margin-right: 1.5em;
}

ul {
  padding-left: 1.25em;
}

a {
  color: rgb(43, 134, 162);
  padding: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
a:hover {
  background-color: rgb(43, 134, 162);
  color: #fff;

  transition-property: background-color, color;
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
}
h2 a {
  color: #000;
}
h2 a:hover {
  background-color: #fff;
  color: #000;
}
