<!DOCTYPE html>
<!--[if IE 8]>          <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Dominio Público en Argentina</title>
  <link rel="stylesheet" href="css/foundation.min.css" />
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,500">
  <link rel="author" type="text/plain" href="humans.txt" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <script src="js/vendor/custom.modernizr.js"></script>
</head>

<body>
  <div class="row">
    <div class="large-12 columns">
      <h2 class="title"><a href="index.html">Calculadora de Dominio Público en Argentina</a></h2>
      <h4>Verifique si una obra pertenece al dominio público.</h4>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="large-8 columns">
      <div class="row">
        <div class="large-12 columns">
          <div id="calc">
          </div>

          <script id="choice" class="template" type="text/template">
            <h3><%= title %></h3>
            <ul class="disc">
              <% _.each(choices, function(o) { %>
                <li><a id="<%= o.name %>" data-state="<%= o.state %>" href=""><%= o.title %></a></li>
              <% }); %>
            </ul>
          </script>

          <script id="year_input" class="template" type="text/template">
            <h3><%= title %></h3>
            <div class="row">
              <div class="small-6 columns">
                <div class="row collapse">
                  <form class="year-input">
                    <div class="small-8 columns">
                      <input type="text" placeholder="Año…" autofocus>
                      <small class="error" style="display: none">El valor ingresado no es válido.</small>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </script>

          <script id="pd" class="template" type="text/template">
            <h3>Es dominio público</h3>
            <img class="pd-icon left" src="img/pd-100x100.png" width="100" alt="Dominio Público"/>
            <p class="explanation"><%= explanation %></p>
            <p class="when" style="display: none"></p>
          </script>

          <script id="npd" class="template" type="text/template">
            <h3>No es dominio público</h3>
            <img class="pd-icon left" src="img/not_pd-100x100.png" width="100" alt="Derechos Reservados"/>
            <p class="explanation"><%= explanation %></p>
            <p class="when" style="display: none"></p>
          </script>
        </div>
      </div>

      <div class="row">
        <div class="small-4 columns">
          <a href="index.html" class="small secondary button">Comenzar de nuevo</a>
        </div>
      </div>
    </div>

    <!-- TODO write introduction to calc -->
    <div class="large-4 columns">
      <h4>
        ¿Qué es?
        <img src="img/pd-16x16.png" width="16"/>
        <img src="img/not_pd-16x16.png" width="16"/>
      </h4>
      <p>
        Una obra en <strong>dominio público</strong> habilita su uso,
        adaptación, traducción y distribución <strong>sin necesidad de pedir permiso</strong>.
      </p>
      <p>
        La <strong>Calculadora de Dominio Público en Argentina</strong> tiene
        como principal objetivo difundir las leyes de propiedad intelectual que
        rigen en el país, y especialmente ser una herramienta de utilidad para
        todas aquellas personas que emprendan proyectos de digitalización o
        desean contribuir a la <a href="http://es.wikipedia.org/wiki/Cultura_libre">cultura libre</a>.
      </p>

      <h4>Recursos</h4>
      <ul class="disc">
        <li><a href="http://www.vialibre.org.ar/">Fundación Via Libre</a></li>
        <li><a href="http://www.bea.org.ar/2010/07/breve-guia-hacia-el-dominio-publico-en-argentina/">Breve guía hacia el dominio público en Argentina</a></li>
        <li><a href="http://outofcopyright.eu">Public Domain Calculator</a></li>
      </ul>
    </div>
  </div>

  <footer class="row">
    <div class="large-4 large-centered columns">
      <ul class="inline-list">
        <li><a title="@munshkr" href="https://twitter.com/munshkr">autor</a></li>
        <li><a href="https://github.com/munshkr/dominio-publico">código fuente</a></li>
        <li><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.es_AR"><img alt="Licencia Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a></li>
      </ul>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

  <script src="js/vendor/foundation.min.js"></script>

  <script>
    $(document).foundation();
  </script>

  <script src="js/vendor/underscore.min.js"></script>
  <script src="js/vendor/machina.min.js"></script>
  <script src="js/vendor/jquery.history.min.js"></script>
  <script src="js/vendor/jquery.parseparams.js"></script>

  <script src="js/AR.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
